<section class="py-8 lg:py-16">
  <div class="container">
    <div class="bg-red-500 rounded-3xl">
      <div class="mx-auto p-8 lg:p-16 w-full lg:w-3/4">
        <div class="text-center">
          <h2 class="text-white font-semibold text-3xl lg:text-4xl">
            Join over 300,000 people who have now signed up to receive our
            Healthy Diet Plans!
          </h2>
        </div>
        <div class="mt-10">
          <form action="#">
            <div class="flex gap-4">
              <div class="flex-1">
                <input
                  type="email"
                  placeholder="Email Address"
                  class="w-full py-3 px-4 rounded-full border-2 border-white bg-transparent outline-0 text-white placeholder:text-white"
                />
              </div>
              <button
                type="submit"
                class="py-3 px-12 bg-yellow-400 border-2 border-yellow-400 rounded-full"
              >
                Suscribe Now!
              </button>
            </div>
          </form>
        </div>
        <p class="text-white text-sm mt-4 text-center">
          The feedback we've received shows that you love them as much as we do.
        </p>
        <p class="text-white text-xs mt-2 text-center">
          By entering your details, you are agreeing to ReFood terms and
          conditions. You can unsubscribe at any time.
        </p>
      </div>
    </div>
  </div>
</section>
