<section class="container">
  <div
    class="rounded-3xl relative overflow-hidden h-72 md:min-h-[300px] lg:min-h-[400px] w-full bg-[url('https://images.immediate.co.uk/production/volatile/sites/30/2022/06/miso-noodle-steak-bbf3fde.jpeg?quality=90&resize=960,408')] bg-cover bg-center bg-no-repeat"
  >
    <div
      class="absolute inset-0 bg-gradient-to-r from-black/75 via-black/0 hidden"
    ></div>
    <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    <div class="absolute inset-x-0 bottom-0 p-8 text-white lg:max-w-xl">
      <h1 class="text-4xl lg:text-6xl mb-6 font-semibold">Meat-Eater's Plan</h1>
      <p class="mb-6">
        Try our delicious recipes such as miso steak with noodle salad and
        chicken skewers with broad bean hummus
      </p>
      <a
        class="flex items-center font-semibold hover:pl-2 duration-300 transition-all"
        href="#"
        >Access the plan today
        <span class="ml-2"
          ><svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            data-svg="arrow-right"
          >
            <polyline
              fill="none"
              stroke="#fff"
              points="10 5 15 9.5 10 14"
            ></polyline>
            <line
              fill="none"
              stroke="#fff"
              x1="4"
              y1="9.5"
              x2="15"
              y2="9.5"
            ></line>
          </svg> </span
      ></a>
    </div>
  </div>
</section>
