<nav class="bg-white mb-2">
  <div class="container">
    <div class="mb-0 z-10 flex relative font-medium">
      <div class="flex-wrap items-center flex">
        <a
          class="text-xl font-bold text-red-500 no-underline min-h-[80px] flex justify-center items-center"
          href="#"
          >ReFOOD</a
        >
        <ul class="ml-10 gap-4 hidden md:flex">
          <li class="text-red-500">
            <a
              href="#"
              class="px-4 flex justify-center items-center min-h-[80px] hover:text-red-500 transition-colors"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              class="px-4 flex justify-center items-center min-h-[80px] hover:text-red-500 transition-colors"
              >Foods</a
            >
          </li>
          <li>
            <a
              href="#"
              class="px-4 flex justify-center items-center min-h-[80px] hover:text-red-500 transition-colors"
              >Search</a
            >
          </li>
          <li>
            <a
              href="#"
              class="px-4 flex justify-center items-center min-h-[80px] hover:text-red-500 transition-colors"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-wrap flex items-center ml-auto">
        <ul class="hidden md:flex">
          <li><a href="#">Sign In</a></li>
        </ul>
        <div
          class="hidden md:flex justify-center items-center min-h-[80px] ml-4"
        >
          <a
            class="px-8 leading-8 inline-block text-white bg-red-500 rounded-full"
            href="#"
            >Sign Up</a
          >
        </div>
        <!-- TODO: add burger in mobile  -->
        <!-- <a class="hidden" href="#offcanvas" toggleMenu><span iconToggle></span
        ></a> -->
      </div>
    </div>
  </div>
</nav>
