<footer class="pt-4 pb-10">
  <div class="container">
    <div class="flex justify-between items-center">
      <a class="text-xl font-bold text-red-500 no-underline" href="#">ReFOOD</a>
      <div class="hidden">
        <button>Face</button>
        <button>Insta</button>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-10 text-slate-500"
    >
      <ul class="space-y-2">
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
      </ul>
      <ul class="space-y-2">
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
      </ul>
      <ul class="space-y-2">
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
      </ul>
      <ul class="space-y-2">
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
        <li>Footer Link 1</li>
      </ul>
    </div>

    <div class="text-sm mt-10 text-slate-300">
      <div>
        Made by
        <a class="text-slate-400" href="https://markosmk.com/" target="_blank"
          >MarkosMk</a
        >
        in Mendoza City.
      </div>
    </div>
  </div>
</footer>
